<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Music</a>
    <div class="input-container">
      <input type="text" id="input-field" placeholder="Save track by URL...">
    </div>
    <div class="image-container ms-auto me-2">
      <a href="#" id="add-link">
        <img src="https://cdn-icons-png.flaticon.com/512/3524/3524388.png" alt="Add">
      </a>
    </div>
  </div>
</nav>