<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Music</a>
    <div class="input-container">
      <input type="text" id="input-field" placeholder="Paste URL...">
    </div>
    <div class="image-container ms-auto me-2">
      <a href="#" id="add-link">
        <img src="https://cdn-icons-png.flaticon.com/512/3524/3524388.png" alt="Add">
      </a>
    </div>
  </div>
</nav>

{{!-- <nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <div class="input-container">
      <input type="text" id="input-field" placeholder="Paste something...">
      <a href="#" id="add-link">
        <img src="https://cdn-icons-png.flaticon.com/512/3524/3524388.png" alt="Add" height="30" width="30">
      </a>
    </div>
  </div>
</nav> --}}

{{!-- <nav class="navbar bg-light fixed-bottom">
  <a href="/playlists" class="btn nav-menu-my">
    <img class ='btn-icon' src="https://cdn-icons-png.flaticon.com/512/727/727239.png" alt="">
    <p class="btn-text">Playlists</p>
  </a>

  <a href="/artists" class="btn nav-menu-my">
    <img class ='btn-icon' src="https://cdn-icons-png.flaticon.com/512/2908/2908584.png" alt="">
    <p class="btn-text">Artists</p>
  </a>

  <a href="/songs" class="btn nav-menu-my">
    <img class ='btn-icon' src="https://cdn-icons-png.flaticon.com/512/727/727218.png" alt="">
    <p class="btn-text">Songs</p>
  </a>
  
  <a href="/albums" class="btn nav-menu-my">
    <img class ='btn-icon' src="https://cdn-icons-png.flaticon.com/512/2983/2983673.png" alt="">
    <p class="btn-text">Albums</p>
  </a>
</nav> --}}

