:root {
    --text-color: hsl(0, 0%, 100%);
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

.list-grid-container {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust min and max width as needed */
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 8%);
}

@media (max-width: 500px){
    .list-grid-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust min and max width as needed */
    }
}

.grid-column {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 15%);
    border-radius: 5px;
    margin: 5px;
}

.column-square-div {
    width: 100%;
    padding-top: 100%; /* Maintains a square aspect ratio */
    position: relative;
}

.column-square-div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px; /* Rounded corners only at the top */
}

.item-attributes {
    padding: 3px 6px;
}

.item-container-name {
    font-size: 12px;
    font-weight: bold;
    color: var(--text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-type {
    font-size: 10px;
    color: var(--text-color);
    line-height: 13px;
}
