html, body {
    font-family: "Helvetica Neue", Arial, sans-serif;
  }

.list-group-item {
    width: 100%;
    word-wrap: break-word;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
    .column-my {
        width: 170px;
        margin: 5px;
    }

    .container-my {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 75px;
      }
    
    .square-div {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        background-size: cover;
        background-position: center;
    }
    
    .square-div img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        border-radius: 15px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 3000px) {
    .column-my {
        width: 200px;
        margin: 5px;
    }

    .container-my {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 75px;
    }

    .square-div {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        background-size: cover;
        background-position: center;
    }
    
    .square-div img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        border-radius: 15px;
    }
}

